<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <outputPatternAsHeader>false</outputPatternAsHeader>
            <pattern>[%date{ISO8601}] [%-10.-10thread] [%-5level] [%-50(%c{50})] %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="eu.ill" level="debug"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
